.App {
  text-align: center;
  height: 100vh;
  color: #212121;
  font-size: large;
}

.drag__container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.drop__container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
